.section {
  position: relative;
  width: 100%;
  display: flex;
}

.authorPhoto {
  min-width: 50%;
  height: auto;
  padding-bottom: 77px;
  object-fit: contain;
  object-position: center left;
}

@media (max-width: 1200px) {

  .section {
    flex-direction: column;
    align-items: center;
  }

  .authorPhoto {
    width: 720px;
    max-width: calc(100% - 230px);
    padding-left: 115px;
    padding-right: 115px;
    object-position: center;
  }
}

@media (max-width: 900px) {

  .authorPhoto {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: contain;
    object-position: top;
  }
}

@media (max-width: 750px) {

  .authorPhoto {
    padding-bottom: 0px;
  }
}
