.section {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 75px;
}

.authorPhoto {
  min-width: 49%;
  max-width: 720px;
  object-fit: cover;
  object-position: left;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 1200px) {

  .section {
    flex-direction: column;
    align-items: center;
  }

  .authorPhoto {
    width: 720px;
    max-width: calc(100% - 230px);
    padding-left: 115px;
    padding-right: 115px;
    object-position: center;
  }
}

@media (max-width: 900px) {

  .authorPhoto {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: contain;
    object-position: top;
  }
}

@media (max-width: 750px) {

  .section {
    padding-bottom: 0px;
  }

  .authorPhoto {
    width: 100%;
    max-width: 100%;
  }
}
