.card {
  width: 37.5%;
  border-radius: 32px;
  background-color: #0000FF1A;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 3px;
  border-color: #0000FF;
  border-style: solid;
}

.cardTitle {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .card {
    width: 43%;
  }
}

@media (max-width: 900px) {

  .card {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .cardTitle {
    font-size: 1.5em;
  }
}

@media (max-width: 750px) {

  .card {
    width: 47%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 28px;
  }

  .cardTitle {
    font-size: 1.17em;
  }
}

@media (max-width: 450px) {

  .card {
    width: 60%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px;
    border-width: 2px;
  }

  .cardTitle {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  
  .cardTitle {
    font-size: 16px;
  }
}