.card {
  width: 540px;
  border-radius: 32px;
  background-color: #0000FF1A;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 3px;
  border-color: #0000FF;
  border-style: solid;
}

.cardTitle {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-weight: 600;
}


@media (max-width: 900px) {

  .card {
    padding-top: 28px;
    padding-bottom: 28px;
    width: 400px;
  }

  .cardTitle {
    font-size: 1.5em;
  }
}

@media (max-width: 750px) {

  .card {
    padding-top: 18px;
    padding-bottom: 18px;
    width: 300px;
    border-radius: 28px;
  }

  .cardTitle {
    font-size: 1.17em;
  }
}

@media (max-width: 500px) {

  .card {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 18px;
    border-width: 2px;
  }

  .cardTitle {
    font-size: 1em;
  }
}

@media (max-width: 400px) {

  .card {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
    border-radius: 18px;
    border-width: 2px;
  }

  .cardTitle {
    font-size: 0.83em;
  }
}