.contact {
  position: relative;
  z-index: 5;
  width: 61.111%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.contactTitle {
  margin: 0px;
  font-family: 'Outfit', sans-serif;
  font-size: 46px;
  line-height: 36px;
  font-weight: 600;
  color: #2A2F33;
  padding-top: 84px;
  padding-right: 15px;
}

.contactInfoContainer {
  padding-right: 15px;
}

.contactInfo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  border-width: 3px;
  border-color: #075e549F;
  border-style: solid;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #075e541A;
}

.contactInfo > i {
  font-size: 36px;
  color: #128c7e;
}

.contactNumber {
  margin: 0px;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #2A2F33;
}

.logo {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-right: 15px;
}

@media (max-width: 900px) {
  .contact {
    width: 100%;
    gap: 70px;
  }

  .contactTitle {
    padding-right: 0px;
  }

  .logo {
    padding-right: 0px;
  }
}

@media (max-width: 450px) {

  .contact {
    gap: 60px;
  }

  .contactNumber {
    font-size: 22px;
  }

  .contactInfo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
  } 

  .contactInfo > i {
    font-size: 40px;
  }

  .contactTitle {
    font-size: 1.9em;
  }
}

@media (max-width: 450px) {
  .contactTitle {
    font-size: 1.9em;
  }
}

@media (max-width: 350px) {

  .contactNumber {
    font-size: 16px;
  }

  .contactInfo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  } 

  .contactInfo > i {
    font-size: 26px;
  }

  .contactTitle {
    font-size: 1.5em;
  }
}

@media (min-width: 901px) {

  .contactInfo:hover {
    scale: 1.15;
    transition-duration: 150ms;
  }
}