.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card1 {
  align-self: flex-start;
  background-color: #F0743E1A;
  border-color: #F0743E;
  margin-left: 115px;
}

.card2 {
  align-self: flex-end;
  background-color: #AAD59F1A;
  border-color: #AAD59F;
  margin-right: 270px;
}

.card3 {
  align-self: flex-start;
  background-color: #9AB2D41A;
  border-color: #9AB2D4;
  margin-left: 204px;
}

.card4 {
  align-self: flex-end;
  background-color: #FDD8491A;
  border-color: #FDD849;
  margin-right: 245px;
}

@media (max-width: 1200px) {

  .card1 {
    margin-left: 80px;
  }
  
  .card2 {
    margin-right: 105px;
  }
  
  .card3 {
    margin-left: 169px;
  }
  
  .card4 {
    margin-right: 80px;
  }
}

@media (max-width: 900px) {

  .card1 {
    margin-left: 50px;
  }

  .card2 {
    margin-right: 75px;
  }

  .card3 {
    margin-left: 115px;
  }

  .card4 {
    margin-right: 50px;
  }
}

@media (max-width: 750px) {

  .card1 {
    margin-left: 20px;
  }

  .card2 {
    margin-right: 45px;
  }

  .card3 {
    margin-left: 75px;
  }

  .card4 {
    margin-right: 20px;
  }
}

@media (max-width: 450px) {

  .cards {
    gap: 10px;
  }

  .card1 {
    margin-left: 10px;
  }

  .card2 {
    margin-right: 35px;
  }

  .card3 {
    margin-left: 15.147%;
  }

  .card4 {
    margin-right: 10px;
  }
}
