.authorData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-top: 60px;
  object-fit: contain;
  user-select: none;
  max-width: 560px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.authorCareer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorCareer > h1 {
  margin: 0;
  font-size: 1.5em;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: #AEB2B2;
  text-align: center;
}

.authorCareer > h2 {
  margin: 0;
  font-size: 1.17em;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: #AEB2B2;
  text-align: center;
}

.decoration1 {
  position: absolute;
  z-index: 2;
  width: fit-content;
  object-fit: contain;
  width: 425px;
  bottom: 0px;
  left: -440px;
  bottom: -20px;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 900px) {
  .logo {
    height: 170px;
  }
}

@media (max-width: 750px) {

  .logo {
    height: 148px;
  }

  .authorCareer > h1 {
    margin: 0px;
    font-size: 1.17em;
  }

  .authorCareer > h2 {
    font-size: 1em;
  } 

  .decoration1 {
    position: static;
    object-fit: contain;
    padding-top: 20px;
    width: 300px;
  }
}

@media (max-width: 600px) {

  .logo {
    height: 120px;
    max-width: 450px;
  }

  .decoration1 {
    width: 200px;
  }
}

@media (max-width: 450px) {

  .logo {
    width: 90%;
    height: auto;
  }

  .decoration1 {
    width: 150px;
  }
}
