.textContainer {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
}

.text {
  margin: 0px;
  width: 798px;
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  padding-right: 77px;
  color: #2A2F33;
}

@media (max-width: 1200px) {
  .text {
    padding-left: 220px;
    padding-right: 40px;
  }
}

@media (max-width: 750px) {
  .text {
    padding-right: 20px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .text {
    padding-left: 160px;
  }
}

@media (max-width: 600px) {
  .text {
    padding-left: 20px;
  }
}